In [1]:
from matplotlib import pyplot as plt
import seaborn as sns
import pandas as pd
from sklearn.linear_model import LinearRegression as LG
from sklearn.linear_model import LogisticRegression as LR

1
2
1
2
1
2
1
2
1
2
1
2
1
2
1
2
1
2

In [2]:
from sklearn.preprocessing import LabelEncoder
lblEncoder=LabelEncoder()

In [3]:
df=pd.read_csv("20140711.CSV")

C:\Users\Rishi\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df1=pd.DataFrame()

In [5]:
df.head()

,TripID,RouteID,StopID,StopName,WeekBeginning,NumberOfBoardings
0,23631,100,14156,181 Cross Rd,2013-06-30 00:00:00,1
1,23631,100,14144,177 Cross Rd,2013-06-30 00:00:00,1
2,23632,100,14132,175 Cross Rd,2013-06-30 00:00:00,1
3,23633,100,12266,Zone A Arndale Interchange,2013-06-30 00:00:00,2
4,23633,100,14147,178 Cross Rd,2013-06-30 00:00:00,1

In [6]:
df1['StopID']=df['StopID']
df1['StopName']=df['StopName']
df1['WeekBeginning']=df['WeekBeginning']

In [7]:
df1.head()

   StopID                    StopName        WeekBeginning
0   14156                181 Cross Rd  2013-06-30 00:00:00
1   14144                177 Cross Rd  2013-06-30 00:00:00
2   14132                175 Cross Rd  2013-06-30 00:00:00
3   12266  Zone A Arndale Interchange  2013-06-30 00:00:00
4   14147                178 Cross Rd  2013-06-30 00:00:00

In [8]:
df2=pd.DataFrame()

In [9]:
df2['Boardings']=df['NumberOfBoardings']

In [10]:
df1['StopName']=lblEncoder.fit_transform(df1.loc[:,['StopName']].astype(str))
df1['WeekBeginning']=lblEncoder.fit_transform(df1.loc[:,['WeekBeginning']].astype(str))

C:\Users\Rishi\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Rishi\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [11]:
df1.head()

   StopID  StopName  WeekBeginning
0   14156       668              0
1   14144       599              0
2   14132       595              0
3   12266      4046              0
4   14147       600              0

In [12]:
df2.head()

   Boardings
0          1
1          1
2          1
3          2
4          1

In [13]:
model=LG()

In [14]:
model.fit(df1,df2)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [15]:
model.predict([[12266,4046,0]])/2.36335187

array([[3.23802651]])

In [16]:
def pred(var1,var2,var3):
    x=[]
    x.append(var1)
    x.append(var2)
    x.append(var3)
    m=model.predict([x])/2.36335187
    #m=int(m)
    return m

In [17]:

m=[]
def mapp():
    
    for i in range(3):
        var1=int(input("Enter Stop ID "))
        var2=int(input("Enter Stop Name "))
        var3=int(input("Enter Day"))
        x=pred(var1,var2,var3)
        m.append(x)
    return m

In [18]:

mapp()

Enter Stop ID 14144
Enter Stop Name 599
Enter Day0
Enter Stop ID 14147
Enter Stop Name 600
Enter Day0
Enter Stop ID 12266
Enter Stop Name 600
Enter Day0

[array([[1.06983569]]), array([[1.07065139]]), array([[0.97158523]])]

In [19]:
list=[]
for i in range(len(m)):
    list.append(float(m[i]))
list

[1.0698356899070627, 1.0706513922159102, 0.9715852325650245]

In [20]:
d={}
for i in range(len(list)):
    d[i]=list[i]

In [21]:
for key, value in sorted(d.items(), key=lambda item: item[1]):
    print("%s: %s" % (key, value))
    
x=key

2: 0.9715852325650245
0: 1.0698356899070627
1: 1.0706513922159102

In [22]:
key_max = max(d.keys(), key=(lambda k: d[k]))

In [23]:
start=key_max

In [24]:
del d[key_max]

In [25]:
key_max2= max(d.keys(), key=(lambda k: d[k]))

In [26]:
start_2=key_max

In [27]:
del d[key_max2]

In [28]:
d

{2: 0.9715852325650245}

{0: 1.5044988009598161, 1: 0.5044988009598161, 2: 1.1153751319029306}